<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Dashboard | Vào khu học tập</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet"/>
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/read-excel-file@5.7.1/bundle/lib/prism.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" rel="stylesheet"/>

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
</head>
<body id="page-top">
<div id="wrapper" class="row">
    <!-- Sidebar -->
    <div th:replace="~{fragments/admin_sidebar :: sidebar(active=2)}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper " class="col-12 col-md-10 d-flex flex-column flex-grow-1">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/admin_topbar :: topbar(
                    userName='Nhóm 1',
                    userAvatar='/media/images/poodle.jpg'
                 )}">
            </div>

            <!-- Begin Page Content -->
            <form class="container-fluid form" th:object="${vkht}" action="/admin/vao-khu-hoc-tap/" method="POST">
                <h1 class="text-center my-4">Vào khu học tập</h1>
                <div class="form-group">
                    <label for="maTV" class="block mb-2 text-sm font-medium">Mã thành viên</label>
                    <input type="text" name="maTV" id="maTV" class="form-control" placeholder="Nhập mã thành viên">
                    <p class="text-danger" th:if="${#fields.hasErrors('maTV')}"
                       th:errors="${vkht.maTV}"></p>
                </div>
                <div class="form-group">
                    <label for="hoTen" class="block mb-2 text-sm font-medium">Tên thành viên</label>
                    <input type="text" name="hoTen" id="hoTen" class="form-control" readonly th:value="${vkht.hoTen != null && vkht.hoTen != 'undefined' ? vkht.getHoTen() : ''}">
                </div>
                <div class="form-group">
                    <label for="khoa" class="block mb-2 text-sm font-medium">Khoa</label>
                    <input type="text" name="khoa" id="khoa" class="form-control" readonly th:value="${vkht.khoa != null && vkht.khoa != 'undefined' ? vkht.getKhoa() : ''}">
                </div>
                <div class="form-group">
                    <label for="nganh" class="block mb-2 text-sm font-medium">Ngành</label>
                    <input type="text" name="nganh" id="nganh" class="form-control" readonly th:value="${vkht.nganh != null && vkht.nganh != 'undefined' ? vkht.getNganh() : ''}">
                </div>
                <div class="form-group">
                    <label for="sdt" class="block mb-2 text-sm font-medium">SĐT</label>
                    <input type="text" name="sdt" id="sdt" class="form-control" readonly th:value="${vkht.sdt != null && vkht.sdt != 'undefined' ? vkht.getSdt() : ''}">
                </div>
                <div class="form-group">
                    <label for="email" class="block mb-2 text-sm font-medium">Email</label>
                    <input type="text" name="email" id="email" class="form-control" readonly th:value="${vkht.email != null && vkht.email != 'undefined' ? vkht.getEmail() : ''}">
                </div>
                <p class="text-danger" th:if="${#fields.hasErrors('credentials')}"
                   th:errors="${vkht.credentials}"></p>

                <button type="submit" class="btn-submit-vkht d-none"></button>
            </form>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Datatables -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Read Excel -->
<script src="https://cdn.jsdelivr.net/npm/read-excel-file@5.7.1/bundle/read-excel-file.min.js"></script>

<script>
    $("#maTV").keydown(function(event) {
        // Kiểm tra xem mã phím được nhấn có phải là Enter không (mã phím 13)
        if (event.keyCode === 13) {
            $(".btn-submit-vkht").onclick()
        }
    });x
</script>
</body>
</html>