<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Quản lý thông tin sử dụng</title>
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet"/>
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/read-excel-file@5.7.1/bundle/lib/prism.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" rel="stylesheet"/>
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
    <link href="/css/item-product.css" rel="stylesheet" />
</head>
<body id="page-top">
    <div id="wrapper" class="row">
        <!-- Sidebar -->
        <div th:replace="~{fragments/admin_sidebar :: sidebar(active=5)}"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper " class="col-12 col-md-10 d-flex flex-column flex-grow-1">
        <!--         Main Content -->
            <div id="content">
                <!-- Topbar -->
                <div th:replace="~{fragments/admin_topbar :: topbar(
                        userName='Nhóm 1',
                        userAvatar='/media/images/poodle.jpg'
                     )}">
                </div><!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1 class="text-center my-4">Quản lý thông tin sử dụng</h1>
                    <table id="thietbiTable" class="table">
                        <thead>
                        <tr>
                            <th>Mã TT</th>
                            <th>Mã TV</th>
                            <th>Tên TV</th>
                            <th>Mã TB</th>
                            <th>Tên TB</th>
                            <th>Thời gian mượn</th>
                            <th>Thời gian trả</th>
                            <th>Thời gian đặt chỗ</th>
                            <th>Tùy chọn</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="t : ${ttsd}">
                                <td th:text="${t.maTT}"></td>
                                <td th:text="${t.maTV != null ? t.maTV.maTV : ''}"></td>
                                <td th:text="${t.maTV != null ? t.maTV.hoTen : ''}"></td>
                                <td th:text="${t.maTB != null ? t.maTB.maTB : ''}"></td>
                                <td th:text="${t.maTB != null ? t.maTB.tenTB : ''}"></td>
                                <td th:text="${#temporals.format(t.tgMuon, 'dd/MM/yyyy - HH:mm')}"></td>
                                <td th:text="${#temporals.format(t.tgTra, 'dd/MM/yyyy - HH:mm')}"></td>
                                <td th:text="${#temporals.format(t.tgDatcho, 'dd/MM/yyyy - HH:mm')}"></td>
                                <td style="white-space: nowrap">
                                    <a class="btn btn-primary btn-sm" th:if="${t.maTB != null and t.tgMuon == null and t.tgTra == null and t.tgDatcho != null}" th:attr="onclick='muon(\'' + ${t.maTT} + '\')'">Mượn</a>
                                    <a class="btn btn-secondary btn-sm" th:if="${t.maTB != null and t.tgMuon != null and t.tgTra == null and t.tgDatcho == null}" th:attr="onclick='tra(\'' + ${t.maTT} + '\')'">Trả</a>
                                    <a class="btn btn-secondary btn-sm" th:if="${t.maTB != null and t.tgMuon != null and t.tgTra == null and t.tgDatcho == null}" th:attr="onclick='openForm(\'' + ${t.maTV.maTV} + '\', \'' + ${t.maTV.hoTen} + '\')'">Làm mất</a>
                                    <a class="btn btn-info btn-sm" th:if="${t.maTB != null and t.tgMuon == null and t.tgTra == null and t.tgDatcho != null}" th:attr="onclick='huy(\'' + ${t.maTT} + '\')'">Hủy đặt chỗ</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.container-fluid -->
            </div>
            <div id="addDiv" class="rounded-lg shadow bg-dark" th:style="${showForm} ? 'display: block;' : 'display: none;'">
                <div class="p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h2 class="text-xl font-bold text-center mx-auto text-white">THÊM XỬ LÝ</h2>
                        <button type="button" class="btn btn-sm btn-light" onclick="closeForm()">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <form class="space-y-4" id="addThietBiForm" method="POST" action="/admin/thong-tin-su-dung" th:object="${xly}">
                        <div class="form-group">
                            <label class="block mb-2 text-sm font-medium text-white">Thành viên</label>
                            <div class="ui-text">
                                <input id="thanh-vien-data" th:field="${xly.maTV}" style="display: none"/>
                                <span id="thanh-vien"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ht" class="block mb-2 text-sm font-medium text-white">Hình thức</label>
                            <select name="ht" id="ht" class="form-control" onchange="initTienBoiThuong(this)"th:field="${xly.hinhThucXL}">
                                <option value="" >Chọn hình thức xử lý</option>
                                <option th:each="ht : ${htList}" th:value="${ht}" th:text="${ht}"></option>
                            </select>
                            <p th:if="${#fields.hasErrors('hinhThucXL')}" class="text-danger" th:errors="${xly.hinhThucXL}"></p>
                        </div>
                        <div class="form-group">
                            <label for="soTien" class="block mb-2 text-sm font-medium text-white">Tiền bồi thường</label>
                            <input type="text" name="soTien" id="soTien" class="form-control" placeholder="Nhập tiền bồi thường" th:field="${xly.soTien}">
                            <p th:if="${#fields.hasErrors('soTien')}" class="text-danger" th:errors="${xly.soTien}"></p>
                        </div>
                        <div class="form-group">
                            <label for="ngayXL" class="block mb-2 text-sm font-medium text-white">Thời gian</label>
                            <input type="datetime-local" name="ngayXL" id="ngayXL" class="form-control" onchange="validateDateTime()" th:field="${xly.ngayXL}">
                            <p th:if="${#fields.hasErrors('ngayXL')}" class="text-danger" th:errors="${xly.ngayXL}"></p>
                        </div>
                        <div class="form-group">
                            <div class="flex items-center">
                                <input type="checkbox" id="trangThaiXL" name="trangThaiXL" class="form-checkbox h-5 w-5 text-indigo-600 transition duration-150 ease-in-out" th:checked="${xly.trangThaiXL}" th:value="${xly.trangThaiXL}" th:field="${xly.trangThaiXL}">
                                <label th:if="${xly.trangThaiXL}" for="trangThaiXL" class="ml-2 text-sm text-white">Đã xử lý</label>
                                <label th:unless="${xly.trangThaiXL}" for="trangThaiXL" class="ml-2 text-sm text-white">Đang xử lý</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary btn-lg" onclick="resetFormAdd()">Làm mới</button>
                            <button type="submit" class="btn btn-primary btn-lg ml-3">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- End of Content Wrapper -->
    </div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Datatables -->
<script src="../../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Read Excel -->
<script src="https://cdn.jsdelivr.net/npm/read-excel-file@5.7.1/bundle/read-excel-file.min.js"></script>

<script>

    $(document).ready(function() {
        $('#thietbiTable').DataTable();

        $("#file-input").on("change", (e) => {
            const file = e.target.files[0];
            readXlsxFile(file).then((rows) => {
                rows.shift()
                const isInvalid = rows.find(row => row.length > 3 || isNaN(row[0]) || (typeof row[1] !== 'string' && row[1].length <= 0) || (typeof row[2] !== 'string' && row[2].length <= 0))
                if (isInvalid) {
                    return;
                }
                $.post("/admin/thiet-bi/excel", {
                    data: rows,
                }, function(responseData) {
                });
            })
        })


    });

    function search() {
        window.location.href = window.location.href.split('?')[0] + `?type=${$("#type").val()}`;
    }

    function muon(maTT) {
        $.ajax({
            type: 'GET',
            url: '/thong-tin/admin/muon?maTT=' + maTT,
            success: function(response) {
                // Hiển thị thông báo khi mượn thành công
                alert("Mượn thành công!");
                // Nếu cần, bạn có thể thực hiện các hành động khác sau khi mượn thành công
                window.location.reload();
            },
            error: function(xhr, status, error) {
                // Hiển thị thông báo lỗi khi xảy ra lỗi
                alert("Đã xảy ra lỗi khi mượn thiết bị. Vui lòng thử lại sau!");
            }
        });
    }

    function openForm(maTV, hoTen) {
        var form = document.getElementById('addDiv');
        var thanhvien = document.getElementById('thanh-vien');
        var thanhviendata = document.getElementById('thanh-vien-data');
        thanhvien.textContent = maTV + "-" + hoTen;
        thanhviendata.value = maTV;
        form.style.display = 'block';
    }

    function closeForm() {
        var form = document.getElementById('addDiv');
        form.style.display = 'none';
        document.getElementById("thanhVien").textContent = "";
        document.getElementById("ht").value = "";
        document.getElementById("soTien").value = "";
        document.getElementById("trangThaiXL").checked = false;
        document.getElementById("addDiv").style.display = "none";
        var form = document.getElementById("addThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
    }

    function initTienBoiThuong(selectElement) {
        var selectedOption, soTien;
        var htSelect = document.getElementById("ht");
        var hthucSelect = document.getElementById("hthuc");
        if (htSelect && htSelect.value !== "") {
            selectedOption = htSelect.value;
            soTien = document.getElementById("soTien");
        } else if (hthucSelect && hthucSelect.value !== "") {
            selectedOption = hthucSelect.value;
            soTien = document.getElementById("sTien");
        }

        switch (selectedOption) {
            case "Chọn hình thức xử lý":
            case "Khóa thẻ 1 tháng":
            case "Khóa thẻ 2 tháng":
            case "Khóa thẻ 3 tháng":
                soTien.value = "0";
                soTien.readOnly = true;
                break;
            case "Bồi thường mất tài sản":
            case "Khóa thẻ 1 tháng và bồi thường":
                var previousSoTien = soTien.value;
                if (previousSoTien === null || previousSoTien === "0") {
                    soTien.value = "";
                }else {
                    soTien.value = previousSoTien;
                }
                soTien.disabled = false;
                break;
        }
    }

    window.onload = function() {
        initTienBoiThuong();
    };


    function validateDateTime() {
        var thoiGianInput = document.getElementById("ngayXL");
        var selectedDateTime = new Date(thoiGianInput.value);
        var now = new Date();
        if (selectedDateTime > now) {
            var now = new Date();
            var year = now.getFullYear();
            var month = String(now.getMonth() + 1).padStart(2, '0');
            var day = String(now.getDate()).padStart(2, '0');
            var hours = String(now.getHours()).padStart(2, '0');
            var minutes = String(now.getMinutes()).padStart(2, '0');
            var formattedNow = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
            ngayXL.value = formattedNow;
        }
    }

    function resetFormAdd() {
        document.getElementById("ht").value = "";
        document.getElementById("soTien").value = "";
        document.getElementById("trangThaiXL").checked = false;
        var form = document.getElementById("addThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
    }

    function tra(maTT) {
        $.ajax({
            type: 'GET',
            url: '/thong-tin/admin/tra?maTT=' + maTT,
            success: function(response) {
                // Hiển thị thông báo khi trả thành công
                alert("Trả thành công!");
                // Nếu cần, bạn có thể thực hiện các hành động khác sau khi trả thành công
                window.location.reload();
            },
            error: function(xhr, status, error) {
                // Hiển thị thông báo lỗi khi xảy ra lỗi
                alert("Đã xảy ra lỗi khi trả thiết bị. Vui lòng thử lại sau!");
            }
        });
    }

    function boithuong(maTT) {
        $.ajax({
            type: 'GET',
            url: '/thong-tin/admin/boithuong?maTT=' + maTT,
            success: function(response) {
                window.location.reload();
            },
            error: function(xhr, status, error) {
                // Hiển thị thông báo lỗi khi xảy ra lỗi
                alert("Đã xảy ra lỗi. Vui lòng thử lại sau!");
            }
        });
    }


    function huy(maTT) {
        $.ajax({
            type: 'GET',
            url: '/thong-tin/admin/huy?maTT=' + maTT,
            success: function(response) {
                // Hiển thị thông báo khi hủy thành công
                alert("Hủy thành công!");
                // Nếu cần, bạn có thể thực hiện các hành động khác sau khi hủy thành công
                window.location.reload();
            },
            error: function(xhr, status, error) {
                // Hiển thị thông báo lỗi khi xảy ra lỗi
                alert("Đã xảy ra lỗi khi hủy đặt chỗ thiết bị. Vui lòng thử lại sau!");
            }
        });
    }

</script>
</body>
</html>
