<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Quản lý thông tin sử dụng</title>
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet"/>
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/read-excel-file@5.7.1/bundle/lib/prism.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" rel="stylesheet"/>
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
</head>
<body id="page-top">
    <div id="wrapper" class="row">
        <!-- Sidebar -->
        <div th:replace="~{fragments/admin_sidebar :: sidebar(active=5)}"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper " class="col-12 col-md-10 d-flex flex-column flex-grow-1">
        <!--         Main Content -->
            <div id="content">
                <!-- Topbar -->
                <div th:replace="~{fragments/admin_topbar :: topbar(
                        userName='Nhóm 1',
                        userAvatar='/media/images/poodle.jpg'
                     )}">
                </div>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1 class="text-center my-4">Quản lý thiết bị</h1>
                    <table id="thietbiTable" class="table">
                        <thead>
                        <tr>
                            <th>Mã thông tin</th>
                            <th>Mã thành viên</th>
                            <th>Tên thành viên</th>
                            <th>Mã thiết bị</th>
                            <th>Mã tên thiết bị</th>
                            <th>Thời gian mượn</th>
                            <th>Thời gian trả</th>
                            <th>Thời gian đặt chỗ</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="t : ${ttsd}">
                                <td th:text="${t.maTT}"></td>
                                <td th:text="${t.maTV != null ? t.maTV.maTV : ''}"></td>
                                <td th:text="${t.maTV != null ? t.maTV.hoTen : ''}"></td>
                                <td th:text="${t.maTB != null ? t.maTB.maTB : ''}"></td>
                                <td th:text="${t.maTB != null ? t.maTB.tenTB : ''}"></td>
                                <td th:text="${t.tgMuon}"></td>
                                <td th:text="${t.tgTra}"></td>
                                <td th:text="${t.tgDatcho}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.container-fluid -->
            </div>
     </div>
        <!-- End of Content Wrapper -->
    </div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Datatables -->
<script src="../../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Read Excel -->
<script src="https://cdn.jsdelivr.net/npm/read-excel-file@5.7.1/bundle/read-excel-file.min.js"></script>

<script>
    function showEdit(maTB) {
        $.ajax({
            type: "GET",
            url: "/admin/thiet-bi/edit",
            data: { maTB: maTB },
            success: function(response) {
                document.getElementById("ma").value = response.maTB;
                document.getElementById("ten").value = response.tenTB;
                document.getElementById("moTa").value = response.moTaTB;
                document.getElementById("ma").readOnly = true;
                document.getElementById("editDiv").style.display = "block";
            },
            error: function(xhr) {
                console.log("Lỗi khi lấy dữ liệu thiết bị: " + xhr.responseText);
            }
        });
    }

    function deleteThietBi(maTB) {
        if (confirm('Bạn có chắc chắn muốn xóa thiết bị này?')) {
            $.ajax({
                type: "GET",
                url: "/admin/thiet-bi/delete",
                data: { maTB: maTB },
                success: function(response) {
                    alert("Xóa thiết bị thành công");
                    window.location.reload();
                },
                error: function(xhr) {
                    console.log("Lỗi khi xóa thiết bị: " + xhr.responseText);
                }
            });
        }
    }

    function deleteMultipleThietBi() {
        var id = document.getElementById("maTBi").value;

        if (id.trim() === "") {
            alert("Vui lòng nhập mã thiết bị");
            return;
        }

        if (isNaN(id)) {
            alert("Vui lòng chỉ nhập số");
            return;
        }

        if (id.length !== 1 || isNaN(parseInt(id))) {
            alert("Vui lòng chỉ nhập một kí tự số");
            return;
        }

        var id = document.getElementById("maTBi").value;
        if (confirm('Bạn có chắc chắn muốn xóa các thiết bị này?')) {
            $.ajax({
                type: "GET",
                url: "/admin/thiet-bi/deleteMultiple",
                data: { maTB: id },
                success: function(response) {
                    alert("Xóa thiết bị thành công");
                    document.getElementById("maTB").value = "";
                    window.location.reload();
                },
                error: function(xhr) {
                    console.log("Lỗi khi xóa thiết bị: " + xhr.responseText);
                }
            });
        }
    }

    function openForm() {
        var form = document.getElementById('addDiv');
        form.style.display = 'block';
    }

    function closeForm() {
        var form = document.getElementById('addDiv');
        form.style.display = 'none';
        document.getElementById("ma").value = "";
        document.getElementById("ten").value = "";
        document.getElementById("moTa").value = "";
        document.getElementById("maTB").value = "";
        document.getElementById("tenTB").value = "";
        document.getElementById("moTaTB").value = "";
        var form = document.getElementById("addThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
        var form = document.getElementById("editThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
    }

    function closeFormEdit() {
        var form = document.getElementById('editDiv');
        form.style.display = 'none';
        document.getElementById("ma").value = "";
        document.getElementById("ten").value = "";
        document.getElementById("moTa").value = "";
        document.getElementById("maTB").value = "";
        document.getElementById("tenTB").value = "";
        document.getElementById("moTaTB").value = "";
        var form = document.getElementById("addThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
        var form = document.getElementById("editThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
    }

    function openFormDelete() {
        var form = document.getElementById('deleteDiv');
        form.style.display = 'block';
    }

    function closeFormDelete() {
        var form = document.getElementById('deleteDiv');
        form.style.display = 'none';
        document.getElementById("maTBi").value = "";
    }

    function resetForm() {
        document.getElementById("ten").value = "";
        document.getElementById("moTa").value = "";
        var form = document.getElementById("addThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
        var form = document.getElementById("editThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
        var currentValue = document.getElementById("ma").value;
        setTimeout(function() {
            document.getElementById("ma").value = currentValue;
        }, 0);
    }

    function resetFormAdd() {
        document.getElementById("maTB").value = "";
        document.getElementById("tenTB").value = "";
        document.getElementById("moTaTB").value = "";
        var form = document.getElementById("addThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
        var form = document.getElementById("editThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
    }

    $(document).ready(function() {
        $('#thietbiTable').DataTable();

        $("#file-input").on("change", (e) => {
            const file = e.target.files[0];
            readXlsxFile(file).then((rows) => {
                rows.shift()
                const isInvalid = rows.find(row => row.length > 3 || isNaN(row[0]) || (typeof row[1] !== 'string' && row[1].length <= 0) || (typeof row[2] !== 'string' && row[2].length <= 0))
                if (isInvalid) {
                    return;
                }
                $.post("/admin/thiet-bi/excel", {
                    data: rows,
                }, function(responseData) {
                });
            })
        })


    });

    function search() {
        window.location.href = window.location.href.split('?')[0] + `?type=${$("#type").val()}`;
    }
</script>
</body>
</html>
