<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Quản lý xử lý vi phạm</title>

    <!-- Custom fonts for this template-->
    <link
            href="../../vendor/fontawesome-free/css/all.min.css"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link
            href="../../vendor/datatables/dataTables.bootstrap4.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <!-- Custom styles for this template-->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="../../css/dashboard.css" rel="stylesheet" />
</head>

<body id="page-top">

<div id="wrapper" class="row">
    <!-- Sidebar -->
    <ul
            class="col-2 navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
            id="accordionSidebar"
    >
        <!-- Sidebar - Brand -->
        <a
                class="sidebar-brand d-flex align-items-center justify-content-center"
                href="/admin"
        >
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Thống kê</span></a
            >
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a
                    class="nav-link collapsed"
                    href="#"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="true"
                    aria-controls="collapseTwo"
            >
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản lý thành viên</span>
            </a>
            <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar"
            >
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/admin/thanhvien/"
                    >Xem chi tiết thành viên</a
                    >
                    <a class="collapse-item" href="/admin/thanhvien/"
                    >Xem chi tiết thành viên</a
                    >
                    <a class="collapse-item" href="/admin/thanhvien/"
                    >Xem chi tiết thành viên</a
                    >
                    <a class="collapse-item" href="/admin/thanhvien/"
                    >Xem chi tiết thành viên</a
                    >
                    <a class="collapse-item" href="/admin/thanhvien/"
                    >Xem chi tiết thành viên</a
                    >
                    <a class="collapse-item" href="/admin/thanhvien/"
                    >Xem chi tiết thành viên</a
                    >
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/thiet-bi/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Quản lý thiết bị</span></a
            >
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/xu-ly/">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Quản lý Vi Phạm</span></a
            >
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper " class="col-10 d-flex flex-column flex-grow-1">
        <!-- Main Content -->
        <div id="content">
            <!-- Sidebar Toggle (Topbar) -->
            <button
                    id="sidebarToggleTop"
                    class="btn btn-link d-md-none rounded-circle mr-3"
            >
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar -->
            <nav
                    class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
            >
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="userDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                          <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                              Nhóm 1
                          </span>
                            <img
                                    class="img-profile rounded-circle"
                                    src="../../media/images/poodle.jpg"
                            />
                        </a>
                        <!-- Dropdown - User Information -->
                        <div
                                class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown"
                        >
                            <a
                                    class="dropdown-item"
                                    href="#"
                                    data-toggle="modal"
                                    data-target="#logoutModal"
                            >
                                <i
                                        class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                                ></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="text-center my-4">Quản lý xử lý vi phạm</h1>
                <table id="xuLyTable" class="table">
                    <thead>
                    <tr>
                        <th>Mã xử lý</th>
                        <th>Mã thành viên</th>
                        <th>Tên thành viên</th>
                        <th>Hình thức xử lý</th>
                        <th>Số tiền</th>
                        <th>Ngày xử lý</th>
                        <th>Trạng thái xử lý</th>
                        <th>Tùy chọn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="xl : ${xuLyList}">
                        <td th:text="${xl.maXL}"></td>
                        <td th:text="${xl.maTV.getMaTV()}"></td>
                        <td th:text="${xl.maTV.getHoTen()}"></td>
                        <td th:text="${xl.hinhThucXL}"></td>
                        <td th:text="${xl.soTien} ? ${xl.soTien} + ' VNĐ' : 'O VNĐ'"></td>
                        <td th:text="${xl.ngayXL}"></td>
                        <td th:text="${xl.trangThaiXL} ? 'Đã xử lý' : 'Đang xử lý'"></td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-primary btn-sm"
                               th:href="@{/templates/admin/xuly/edit(maTB=${xl.maXL})}">Sửa</a>
                            <a class="btn btn-primary btn-sm"
                               th:href="@{/templates/admin/xuly/delete(maTB=${xl.maXL})}"
                               onclick="return confirm('Bạn có chắc chắn muốn xóa xử lý này?')">Xóa</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Datatables -->
<script src="../../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<script>
    $(document).ready(function() {
        $('#xuLyTable').DataTable();
    });
</script>
</body>

</html>
