<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Quản lý xử lý vi phạm</title>

    <!-- Custom fonts for this template-->
    <link
            href="/vendor/fontawesome-free/css/all.min.css"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
            rel="stylesheet"
    />
    <link
            href="/vendor/datatables/dataTables.bootstrap4.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous"
            rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
</head>

<body id="page-top">

<div id="wrapper" class="row">
    <!-- Sidebar -->
    <div th:replace="~{fragments/admin_sidebar :: sidebar(active=4)}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper " class="col-12 col-md-10 d-flex flex-column flex-grow-1">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/admin_topbar :: topbar(
                    userName='Nhóm 1',
                    userAvatar='/media/images/poodle.jpg'
                 )}">
            </div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="text-center my-4">Quản lý xử lý vi phạm</h1>
                <div class="d-flex justify-content-end align-items-center my-5">
                    <p class="btn btn-primary btn-sm mr-2 m-0"> Thêm </p>
                    <label for="file-input" class="btn btn-primary btn-sm d-block mr-2 m-0"> Nhập từ file excel </label>
                    <p class="btn text-white btn-sm  m-0 bg-danger"> Xóa nhiều dòng </p>
                    <input type="file" name="" id="file-input" accept=".xlsx" hidden/>
                </div>
                <table id="xuLyTable" class="table">
                    <thead>
                    <tr>
                        <th>Mã xử lý</th>
                        <th>Mã thành viên</th>
                        <th>Tên thành viên</th>
                        <th>Hình thức xử lý</th>
                        <th>Số tiền</th>
                        <th>Ngày xử lý</th>
                        <th>Trạng thái xử lý</th>
                        <th>Tùy chọn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="xl : ${xuLyList}">
                        <td th:text="${xl.maXL}"></td>
                        <td th:text="${xl.maTV.getMaTV()}"></td>
                        <td th:text="${xl.maTV.getHoTen()}"></td>
                        <td th:text="${xl.hinhThucXL}"></td>
                        <td th:text="${xl.soTien} ? ${xl.soTien} + ' VNĐ' : 'O VNĐ'"></td>
                        <td th:text="${xl.ngayXL}"></td>
                        <td th:text="${xl.trangThaiXL} ? 'Đã xử lý' : 'Đang xử lý'"></td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-primary btn-sm"
                               th:href="@{/templates/admin/xuly/edit(maTB=${xl.maXL})}">Sửa</a>
                            <a class="btn btn-primary btn-sm"
                               th:href="@{/templates/admin/xuly/delete(maTB=${xl.maXL})}"
                               onclick="return confirm('Bạn có chắc chắn muốn xóa xử lý này?')">Xóa</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Datatables -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<script>
    $(document).ready(function() {
        $('#xuLyTable').DataTable();

        $("#file-input").on("change", (e) => {
            const file = e.target.files[0];

            readXlsxFile(file).then((rows) => {
                rows.shift()

                const isInvalid = rows.find(row => row.length > 6 || isNaN(row[0]) || isNaN(row[1]) || (typeof row[2] !== 'string' && row[2].length <= 0) || isNaN(row[3]) || (typeof row[4] !== 'string' && row[4].length <= 0) || isNaN(row[5]))

                if (isInvalid) {
                    return;
                }

                $.post("/admin/thiet-bi/excel", {
                    data: rows,
                }, function(responseData) {
                });
            })
        })
    });
</script>
</body>

</html>
