<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>User | Thông tin cá nhân</title>

    <!-- Custom fonts for this template-->
    <link
            href="/vendor/fontawesome-free/css/all.min.css"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
            rel="stylesheet"
    />
    <link
            href="/vendor/datatables/dataTables.bootstrap4.min.css"
            rel="stylesheet"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
            rel="stylesheet"
            integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg="
            crossorigin="anonymous"
    />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/10c30652a2.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">

<div id="wrapper" class="row">
    <!-- Sidebar -->
    <div th:replace="~{fragments/user_sidebar :: sidebar(active=1)}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper " class="col-12 col-md-10 d-flex flex-column flex-grow-1">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="~{fragments/user_topbar :: topbar(
                    userName = ${session.user.hoTen},
                    userAvatar = '/media/images/user_default.png'
                 )}">
            </div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Member Statistic -->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <h1 class="h2 mb-0 text-gray-800 flex-shrink-0 align-self-center">
                                Thông tin cá nhân
                            </h1>
                        </div>
                        <form class="row g-3" method="POST" th:object="${tv}" action="/user">
                            <!-- Cột bên trái -->
                            <div class="col-md-6" >
                                <div class="mb-3">
                                    <label for="maTV" style="font-size: 14px; color: #495057;">Mã thành viên</label>
                                    <input type="text" disabled class="form-control" name="maTV" id="maTV" style="background-color: #f8f9fa; border: 1px solid #ced4da; color: #495057; font-size: 14px; border-radius: 8px; padding: 10px; width: 100%; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" th:value = '${session.user.maTV}' >
                                    <input type="hidden" name="maTV" th:value="${session.user.maTV}">
                                </div>
                                <div class="mb-3">
                                    <label for="nganh" style="font-size: 14px; color: #495057;">Ngành</label>
                                    <input type="text" class="form-control" name="nganh" id="nganh" style="background-color: #f8f9fa; border: 1px solid #ced4da; color: #495057; font-size: 14px; border-radius: 8px; padding: 10px; width: 100%; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" th:value='${session.user.nganh}'>
                                    <p th:if="${#fields.hasErrors('nganh')}" class="text-danger" th:errors="${tv.nganh}"></p>
                                </div>
                                <div class="mb-3">
                                    <label for="sdt" style="font-size: 14px; color: #495057;">Số điện thoại</label>
                                    <input type="text" class="form-control" name="sdt" id="sdt" style="background-color: #f8f9fa; border: 1px solid #ced4da; color: #495057; font-size: 14px; border-radius: 8px; padding: 10px; width: 100%; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" th:value='${session.user.sdt}'>
                                    <p th:if="${#fields.hasErrors('sdt')}" class="text-danger" th:errors="${tv.sdt}"></p>
                                </div>
                            </div>

                            <!-- Cột bên phải -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="hoTen" style="font-size: 14px; color: #495057;">Họ và tên</label>
                                    <input type="text" class="form-control" name="hoTen" id="hoTen" style="background-color: #f8f9fa; border: 1px solid #ced4da; color: #495057; font-size: 14px; border-radius: 8px; padding: 10px; width: 100%; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" th:value='${session.user.hoTen}'>
                                    <p th:if="${#fields.hasErrors('hoTen')}" class="text-danger" th:errors="${tv.hoTen}"></p>
                                </div>

                                <div class="mb-3">
                                    <label for="khoa" style="font-size: 14px; color: #495057;">Khoa</label>
                                    <input type="text" class="form-control" name="khoa" id="khoa" style="background-color: #f8f9fa; border: 1px solid #ced4da; color: #495057; font-size: 14px; border-radius: 8px; padding: 10px; width: 100%; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" th:value='${session.user.khoa}'>
                                    <p th:if="${#fields.hasErrors('khoa')}" class="text-danger" th:errors="${tv.khoa}"></p>
                                </div>
                                <div class="mb-3">
                                    <label for="email" style="font-size: 14px; color: #495057;">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" style="background-color: #f8f9fa; border: 1px solid #ced4da; color: #495057; font-size: 14px; border-radius: 8px; padding: 10px; width: 100%; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" th:value='${session.user.email}'>
                                    <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="${tv.email}"></p>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <div class="d-flex justify-content-end" style="white-space: nowrap;">
                                    <button type="button" id="changePasswordButton" class="btn btn-primary rounded-md py-3 px-9 text-xl font-medium" style="margin-right: 10px;" onclick="showForm()">Đổi mật khẩu</button>
                                    <button type="submit" class="btn btn-primary rounded-md py-3 px-9 text-xl font-medium" style="background-color: #1725CA;">Chỉnh sửa</button>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>

            <!-- /.container-fluid -->
        </div>
    </div>
    <!-- End of Content Wrapper -->
</div>

<div id="changePasswordForm" class="rounded-lg shadow bg-dark" th:style="${showFormChangePassword} ? 'display: block;' : 'display: none;'">
    <div class="p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-xl font-bold text-center mx-auto text-white">ĐỔI MẬT KHẨU</h2>
            <button type="button" class="btn btn-sm btn-light" onclick="closeForm()">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <form class="space-y-4" action="/user/thaydoimatkhau" method="POST" th:object="${tvChangePassword}">
            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control" id="matKhauCu" name="matKhauCu" placeholder="Mật khẩu hiện tại" th:value="${tvChangePassword.matKhauCu}">
                    <div class="input-group-append">
                        <span class="input-group-text" style="cursor: pointer;" onclick="togglePassword('matKhauCu')">
                            <i class="fas fa-eye" id="eye-icon-matKhauCu" style="display: none"></i>
                            <i class="fas fa-eye-slash" id="eye-slash-icon-matKhauCu"></i>
                        </span>
                    </div>
                </div>
                <p th:if="${#fields.hasErrors('matKhauCu')}" class="text-danger" th:errors="*{matKhauCu}"></p>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control" id="matKhauMoi" name="matKhauMoi" placeholder="Mật khẩu mới" th:value="${tvChangePassword.matKhauMoi}">
                    <div class="input-group-append">
                        <span class="input-group-text" style="cursor: pointer;" onclick="togglePassword('matKhauMoi')">
                            <i class="fas fa-eye" id="eye-icon-matKhauMoi" style="display: none"></i>
                            <i class="fas fa-eye-slash" id="eye-slash-icon-matKhauMoi"></i>
                        </span>
                    </div>
                </div>
                <p th:if="${#fields.hasErrors('matKhauMoi')}" class="text-danger" th:errors="*{matKhauMoi}"></p>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control" id="xacNhanMatKhauMoi" name="xacNhanMatKhauMoi" placeholder="Xác nhận mật khẩu mới" th:value="${tvChangePassword.xacNhanMatKhauMoi}">
                    <div class="input-group-append">
                        <span class="input-group-text" style="cursor: pointer;" onclick="togglePassword('xacNhanMatKhauMoi')">
                            <i class="fas fa-eye" id="eye-icon-xacNhanMatKhauMoi" style="display: none"></i>
                            <i class="fas fa-eye-slash" id="eye-slash-icon-xacNhanMatKhauMoi"></i>
                        </span>
                    </div>
                </div>
                <p th:if="${#fields.hasErrors('xacNhanMatKhauMoi')}" class="text-danger" th:errors="*{xacNhanMatKhauMoi}"></p>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>

<!-- End of Page Wrapper -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Datatables -->
<script src="../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../js/demo/datatables-demo.js"></script>

<script>
    function showForm() {
        document.getElementById("changePasswordForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("changePasswordForm").style.display = "none";
    }
</script>

<script src="../js/utils.js" type="module"></script>
<script>
    function togglePassword(id) {
        const x = document.getElementById(id);
        const eyeSlash = document.getElementById("eye-slash-icon-" + id);
        const eye = document.getElementById("eye-icon-" + id);
        if (x.type === "password") {
            x.type = "text";
            eye.style.display = "block";
            eyeSlash.style.display = "none";
        } else {
            x.type = "password";
            eye.style.display = "none";
            eyeSlash.style.display = "block";
        }
    }
</script>
</body>
</html>
