<div th:fragment="sidebar(active)" th:remove="tag">
    <!-- Sidebar -->
    <ul
            class="col-12 col-md-2 admin-sidebar navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
            id="accordionSidebar"
    >
        <!-- Sidebar - Brand -->
        <a
                class="sidebar-brand d-flex align-items-center justify-content-center"
                href="/admin"
        >
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" th:classappend="${active == 1 ? 'active' : ''}">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Thống kê</span></a
            >
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item" th:classappend="${active == 2 ? 'active' : ''}">
            <a class="nav-link"
                    href="/admin/thanh-vien"
            >
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản lý thành viên</span>
            </a>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item" th:classappend="${active == 3 ? 'active' : ''}">
            <a class="nav-link" href="/admin/thiet-bi/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Quản lý thiết bị</span></a
            >
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item" th:classappend="${active == 4 ? 'active' : ''}">
            <a class="nav-link" href="/admin/xu-ly/">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Quản lý vi phạm</span></a
            >
        </li>

        <li class="nav-item" th:classappend="${active == 5 ? 'active' : ''}">
            <a class="nav-link" href="/admin/thong-tin-su-dung/">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Quản lý thông tin sử dụng</span></a
            >
        </li>

    </ul>
    <!-- End of Sidebar -->
</div>