<div th:fragment="sidebar(active)" th:remove="tag">
    <!-- Sidebar -->
    <ul
            class="col-12 col-md-2 admin-sidebar navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
            id="accordionSidebar"
    >
        <!-- Sidebar - Brand -->
        <a
                class="sidebar-brand d-flex align-items-center justify-content-center"
                href="/user"
        >
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">User <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" th:classappend="${active == 1 ? 'active' : ''}">
            <a class="nav-link" href="/user">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Thông tin cá nhân</span></a
            >
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item" th:classappend="${active == 2 ? 'active' : ''}">
            <a class="nav-link" href="/user/trang-thai-vi-pham/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trạng thái vi phạm</span></a
            >
        </li>

        <li class="nav-item" th:classappend="${active == 3 ? 'active' : ''}">
            <a class="nav-link" href="/user/thiet-bi/">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Các thiết bị</span></a
            >
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item" th:classappend="${active == 4 ? 'active' : ''}">
            <a class="nav-link" href="/user/muon-thiet-bi/">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Các thiết bị đang mượn</span></a
            >
        </li>

        <li class="nav-item" th:classappend="${active == 5 ? 'active' : ''}">
            <a class="nav-link" href="/user/dat-cho-thiet-bi/">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Các thiết bị đang đặt chỗ</span></a
            >
        </li>

        <li class="nav-item" th:classappend="${active == 6 ? 'active' : ''}">
            <a class="nav-link" href="/user/lich-su-dung-thiet-bi/">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Lịch sử dùng thiết bị</span></a
            >
        </li>
    </ul>
    <!-- End of Sidebar -->
</div>
<script>

</script>