<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>User | Lịch sử dùng thiết bị</title>

d    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="../../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
          rel="stylesheet" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <!-- Custom styles for this template-->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="../../css/dashboard.css" rel="stylesheet" />
    <link href="../../css/item-product.css" rel="stylesheet" />
</head>

<body id="page-top">

<div id="wrapper" class="row">
    <!-- Sidebar -->
    <div th:replace="~{fragments/user_sidebar :: sidebar(active=6)}"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper " class="col-12 col-md-10 d-flex flex-column flex-grow-1">
        <!--         Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="~{fragments/admin_topbar :: topbar(
                        userName='Nhóm 1',
                        userAvatar='/media/images/poodle.jpg'
                     )}">
            </div>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="text-center my-4">Lịch sử dùng thiết bị</h1>
                <table id="thietbiTable" class="table">
                    <thead>
                    <tr>
                        <th>Mã TB</th>
                        <th>Tên TB</th>
                        <th>Thời gian mượn</th>
                        <th>Thời gian trả</th>
                        <th>Thời gian đặt chỗ</th>
                        <th>Trạng Thái</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="t : ${lsList}">
                        <td th:text="${t.maTB != null ? t.maTB.maTB : ''}"></td>
                        <td th:text="${t.maTB != null ? t.maTB.tenTB : ''}"></td>
                        <td th:text="${#temporals.format(t.tgMuon, 'dd/MM/yyyy - HH:mm')}"></td>
                        <td th:text="${#temporals.format(t.tgTra, 'dd/MM/yyyy - HH:mm')}"></td>
                        <td th:text="${#temporals.format(t.tgDatcho, 'dd/MM/yyyy - HH:mm')}"></td>
                        <td th:text="${t.trangThai == null ? 'Đang gửi yêu cầu' :
                          (t.trangThai == 0 ? 'Đang gửi yêu cầu' :
                          (t.trangThai == 1 ? 'Đặt chỗ thành công' : 'Yêu cầu đã bị hủy'))}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="ui-bottom">
                    <div th:replace="~{fragments/pagination :: pagination(
                        urlPrefix = ${params.isEmpty() ? '/user/lich-su-dung-thiet-bi?' : '/user/lich-su-dung-thiet-bi?' + params + '&'},
                        totalPages = ${lsList.totalPages},
                        currentPage = ${lsList.number + 1},
                        pageSize = ${lsList.size},
                        totalItems = ${lsList.totalElements})}">
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Datatables -->
<script src="../../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../../js/demo/datatables-demo.js"></script>
<!--Date Range Picker -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<!-- SELECT -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

<script src="../../js/utils.js" type="module"></script>
<script>
    function searchThietBi() {
        const searchText = document.getElementById("txt-search").value
        window.location.href = window.location.href.split('?')[0] + `?tenTB=${searchText}`
    }
    document.getElementById("txt-search").addEventListener("keydown", function (event) {
        if (event.key === 'Enter') {
            searchThietBi();
        }
    })
    function giveBackThietBi(maTV, maTB) {
        if (confirm('Bạn có chắc chắn muốn trả thiết bị này?')) {
            $.ajax({
                type: "GET",
                url: "/thong-tin/tra",
                data: { maTV: maTV, maTB: maTB},
                success: function(response) {
                    alert("Trả thiết bị thành công");
                    window.location.reload(true);
                },
                error: function(xhr) {
                    alert(xhr.responseText);
                }
            });
        }
    }
</script>
<script>

    // Lắng nghe sự kiện keypress trên ô input
    const searchInput = document.getElementById("txt-search");
    searchInput.addEventListener("keypress", function(event) {
        if (event.keyCode === 13) {
            searchByMaThietBi();
        }
    });

    // Lắng nghe sự kiện change trên select-by
    const selectBy = document.getElementById("select-by");
    selectBy.addEventListener("change", function(event) {
        searchByMaThietBi();
    });

    function searchByMaThietBi() {
        const searchText = document.getElementById("txt-search").value;
        const productContainers = document.querySelectorAll(".product-container");
        productContainers.forEach(container => {
            const tenThietBi = container.querySelector(".name-laptop p").textContent;
            if (tenThietBi.includes(searchText)) {
                container.style.display = "block";
            } else {
                container.style.display = "none";
            }
        });
    }
</script>
</body>
</html>
