<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Quản lý thiết bị</title>
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet"/>
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/read-excel-file@5.7.1/bundle/lib/prism.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" rel="stylesheet"/>
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
</head>
<body id="page-top">
    <div id="wrapper" class="row">
        <!-- Sidebar -->
        <div th:replace="~{fragments/admin_sidebar :: sidebar(active=3)}"></div>
        <!-- Content Wrapper -->
        <div id="content-wrapper " class="col-12 col-md-10 d-flex flex-column flex-grow-1">
        <!--         Main Content -->
            <div id="content">
                <!-- Topbar -->
                <div th:replace="~{fragments/admin_topbar :: topbar(
                        userName='Nhóm 1',
                        userAvatar='/media/images/poodle.jpg'
                     )}">
                </div>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1 class="text-center my-4">Quản lý thiết bị</h1>
                    <div class="d-flex justify-content-between my-5 align-items-center">
                        <select id="type" class="flex-shrink-0 form-control mr-3 filter" onchange="search()" th:value="${type}">
                            <option value="">Tất cả thiết bị</option>
                            <option value="muon">Đang mượn</option>
                            <option value="datcho">Đang đặt chỗ</option>
                        </select>

                        <div class="d-flex justify-content-end align-items-center">
                            <p class="btn btn-primary btn-sm mr-2 m-0" onclick="openForm()"> Thêm </p>
                            <label for="file-input" class="btn btn-primary btn-sm d-block mr-2 m-0"> Nhập từ file excel </label>
                            <p class="btn text-white btn-sm  m-0 bg-danger" onclick="openFormDelete()"> Xóa nhiều dòng </p>
                            <input type="file" name="" id="file-input" accept=".xlsx" hidden/>
                        </div>
                    </div>
                    <!-- Table -->
                    <table id="thietbiTable" class="table">
                        <thead>
                        <tr>
                            <th>Mã thiết bị</th>
                            <th>Tên thiết bị</th>
                            <th>Mô tả</th>
                            <th>Tùy chọn</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tbi : ${thietBiList}">
                            <td th:text="${tbi.maTB}"></td>
                            <td th:text="${tbi.tenTB}"></td>
                            <td th:text="${tbi.moTaTB}"></td>
                            <td style="white-space: nowrap">
                                <a class="btn btn-primary btn-sm" th:onclick="'showEdit(\'' + ${tbi.maTB} + '\')'">Sửa</a>
                                <a class="btn btn-danger btn-sm" th:onclick="'deleteThietBi(\'' + ${tbi.maTB} + '\')'">Xóa</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.container-fluid -->
            </div>
            <div id="addDiv" class="rounded-lg shadow bg-dark" th:style="${showForm} ? 'display: block;' : 'display: none;'">
                <div class="p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h2 class="text-xl font-bold text-center mx-auto text-white">THÊM THIẾT BỊ</h2>
                        <button type="button" class="btn btn-sm btn-light" onclick="closeForm()">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <form class="space-y-4" id="addThietBiForm" method="POST" action="/admin/thiet-bi/" th:object="${tb}">
                        <div class="form-group">
                            <label for="maTB" class="block mb-2 text-sm font-medium text-white">Mã thiết bị</label>
                            <input type="text" name="maTB" id="maTB" class="form-control" placeholder="Nhập mã thiết bị" th:field="${tb.maTB}">
                            <p th:if="${#fields.hasErrors('maTB')}" class="text-danger" th:errors="${tb.maTB}"></p>
                        </div>
                        <div class="form-group">
                            <label for="tenTB" class="block mb-2 text-sm font-medium text-white">Tên thiết bị</label>
                            <input type="text" name="tenTB" id="tenTB" class="form-control" placeholder="Nhập tên thiết bị" th:field="${tb.tenTB}">
                            <p th:if="${#fields.hasErrors('tenTB')}" class="text-danger" th:errors="${tb.tenTB}"></p>
                        </div>
                        <div class="form-group">
                            <label for="moTaTB" class="block mb-2 text-sm font-medium text-white">Mô tả</label>
                            <textarea name="moTaTB" id="moTaTB" class="form-control" rows="3" placeholder="Nhập mô tả" th:field="${tb.moTaTB}"></textarea>
                            <p th:if="${#fields.hasErrors('moTaTB')}" class="text-danger" th:errors="${tb.moTaTB}"></p>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary btn-lg" onclick="resetFormAdd()">Làm mới</button>
                            <button type="submit" class="btn btn-primary btn-lg ml-3">Thêm</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="editDiv" class="rounded-lg shadow bg-dark" th:style="${showFormEdit} ? 'display: block;' : 'display: none;'">
                <div class="p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h2 class="text-xl font-bold text-center mx-auto text-white">SỬA THIẾT BỊ</h2>
                        <button type="button" class="btn btn-sm btn-light" onclick="closeFormEdit()">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <form class="space-y-4" id="editThietBiForm" method="POST" action="/admin/thiet-bi/edit" th:object="${tb}">
                        <div class="form-group">
                            <label for="maTB" class="block mb-2 text-sm font-medium text-white">Mã thiết bị</label>
                            <input type="text" name="maTB" id="ma" class="form-control" placeholder="Nhập mã thiết bị" th:field="${tb.maTB}">
                            <p th:if="${#fields.hasErrors('maTB')}" class="text-danger" th:errors="${tb.maTB}"></p>
                        </div>
                        <div class="form-group">
                            <label for="tenTB" class="block mb-2 text-sm font-medium text-white">Tên thiết bị</label>
                            <input type="text" name="tenTB" id="ten" class="form-control" placeholder="Nhập tên thiết bị" th:field="${tb.tenTB}">
                            <p th:if="${#fields.hasErrors('tenTB')}" class="text-danger" th:errors="${tb.tenTB}"></p>
                        </div>
                        <div class="form-group">
                            <label for="moTaTB" class="block mb-2 text-sm font-medium text-white">Mô tả</label>
                            <textarea name="moTaTB" id="moTa" class="form-control" rows="3" placeholder="Nhập mô tả" th:field="${tb.moTaTB}"></textarea>
                            <p th:if="${#fields.hasErrors('moTaTB')}" class="text-danger" th:errors="${tb.moTaTB}"></p>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary btn-lg" onclick="resetForm()">Làm mới</button>
                            <button type="submit" class="btn btn-primary btn-lg ml-3">SỬA</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="deleteDiv" class="mx-auto rounded-lg shadow mt-5 bg-dark" style="width: 500px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: none;">
                <div class="p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h4 class="text-xl font-bold text-center mx-auto text-white">XÓA NHIỀU THIẾT BỊ</h4>
                        <button type="button" class="btn btn-sm btn-light" onclick="closeFormDelete()">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <form class="space-y-4">
                        <div class="form-group">
                            <label for="maTB" class="block mb-2 text-sm font-medium text-white">Mã thiết bị</label>
                            <input type="text" name="maTB" id="maTBi" class="form-control" placeholder="Nhập mã thiết bị" required>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-lg" onclick="deleteMultipleThietBi()">XÓA</button>
                        </div>
                    </form>
                </div>
            </div>
     </div>
        <!-- End of Content Wrapper -->
    </div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Datatables -->
<script src="../../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Read Excel -->
<script src="https://cdn.jsdelivr.net/npm/read-excel-file@5.7.1/bundle/read-excel-file.min.js"></script>

<script>
    function showEdit(maTB) {
        $.ajax({
            type: "GET",
            url: "/admin/thiet-bi/edit",
            data: { maTB: maTB },
            success: function(response) {
                document.getElementById("ma").value = response.maTB;
                document.getElementById("ten").value = response.tenTB;
                document.getElementById("moTa").value = response.moTaTB;
                document.getElementById("ma").readOnly = true;
                document.getElementById("editDiv").style.display = "block";
            },
            error: function(xhr) {
                console.log("Lỗi khi lấy dữ liệu thiết bị: " + xhr.responseText);
            }
        });
    }

    function deleteThietBi(maTB) {
        if (confirm('Bạn có chắc chắn muốn xóa thiết bị này?')) {
            $.ajax({
                type: "GET",
                url: "/admin/thiet-bi/delete",
                data: { maTB: maTB },
                success: function(response) {
                    alert("Xóa thiết bị thành công");
                    window.location.reload();
                },
                error: function(xhr) {
                    console.log("Lỗi khi xóa thiết bị: " + xhr.responseText);
                }
            });
        }
    }

    function deleteMultipleThietBi() {
        var id = document.getElementById("maTBi").value;

        if (id.trim() === "") {
            alert("Vui lòng nhập mã thiết bị");
            return;
        }

        if (isNaN(id)) {
            alert("Vui lòng chỉ nhập số");
            return;
        }

        if (id.length !== 1 || isNaN(parseInt(id))) {
            alert("Vui lòng chỉ nhập một kí tự số");
            return;
        }

        var id = document.getElementById("maTBi").value;
        if (confirm('Bạn có chắc chắn muốn xóa các thiết bị này?')) {
            $.ajax({
                type: "GET",
                url: "/admin/thiet-bi/deleteMultiple",
                data: { maTB: id },
                success: function(response) {
                    alert("Xóa thiết bị thành công");
                    document.getElementById("maTB").value = "";
                    window.location.reload();
                },
                error: function(xhr) {
                    console.log("Lỗi khi xóa thiết bị: " + xhr.responseText);
                }
            });
        }
    }

    function openForm() {
        var form = document.getElementById('addDiv');
        form.style.display = 'block';
    }

    function closeForm() {
        var form = document.getElementById('addDiv');
        form.style.display = 'none';
        document.getElementById("ma").value = "";
        document.getElementById("ten").value = "";
        document.getElementById("moTa").value = "";
        document.getElementById("maTB").value = "";
        document.getElementById("tenTB").value = "";
        document.getElementById("moTaTB").value = "";
        var form = document.getElementById("addThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
        var form = document.getElementById("editThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
    }

    function closeFormEdit() {
        var form = document.getElementById('editDiv');
        form.style.display = 'none';
        document.getElementById("ma").value = "";
        document.getElementById("ten").value = "";
        document.getElementById("moTa").value = "";
        document.getElementById("maTB").value = "";
        document.getElementById("tenTB").value = "";
        document.getElementById("moTaTB").value = "";
        var form = document.getElementById("addThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
        var form = document.getElementById("editThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
    }

    function openFormDelete() {
        var form = document.getElementById('deleteDiv');
        form.style.display = 'block';
    }

    function closeFormDelete() {
        var form = document.getElementById('deleteDiv');
        form.style.display = 'none';
        document.getElementById("maTBi").value = "";
    }

    function resetForm() {
        document.getElementById("ten").value = "";
        document.getElementById("moTa").value = "";
        var form = document.getElementById("addThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
        var form = document.getElementById("editThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
        var currentValue = document.getElementById("ma").value;
        setTimeout(function() {
            document.getElementById("ma").value = currentValue;
        }, 0);
    }

    function resetFormAdd() {
        document.getElementById("maTB").value = "";
        document.getElementById("tenTB").value = "";
        document.getElementById("moTaTB").value = "";
        var form = document.getElementById("addThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
        var form = document.getElementById("editThietBiForm");
        var errorMessages = form.getElementsByClassName("text-danger");
        for (var i = 0; i < errorMessages.length; i++) {
            errorMessages[i].innerHTML = "";
        }
    }

    $(document).ready(function() {
        $('#thietbiTable').DataTable();

        $("#file-input").on("change", (e) => {
            const file = e.target.files[0];
            console.log("alo")
            readXlsxFile(file).then((rows) => {
                rows.shift()
                const isInvalid = rows.find(row => row.length > 3 || isNaN(row[0]) || (typeof row[1] !== 'string' && row[1].length <= 0) || (typeof row[2] !== 'string' && row[2].length <= 0))
                if (isInvalid) {
                    return;
                }
                console.log("hello")
                $.ajax({
                    type: "POST",
                    url: "/admin/thiet-bi/excel",
                    data: rows,
                    success: response => {
                        alert("Nhập excel thành công");
                        window.location.reload();
                    },
                    error: xhr => {
                        console.log("Lỗi khi nhập excel: " + xhr.responseText);
                    }
                })
            })
        })


    });

    function search() {
        window.location.href = window.location.href.split('?')[0] + `?type=${$("#type").val()}`;
    }
</script>
</body>
</html>
